/.idea/shelf
/.idea/workspace.xml
/.idea/dbnavigator.xml
.idea/SnapLinks3.time
/insecure/
/local/
/build/

/vendor/
/composer.lock
/artifacts/
/node_modules/
*.swp
npm-debug.log*
*.log
/.idea/markdown-navigator-enh.xml
/.idea/sonarlint/issuestore/
