
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
/*padding:        0;*/
/*margin:         0;*/
/*font:           inherit;*/
/*font-size:      100%;*/
/*vertical-align: baseline;*/
/*border:         0;*/
/*}*/
/*!* HTML5 display-role reset for older browsers *!*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
/*display: block;*/
/*}*/
/*body {*/
/*line-height: 1;*/
/*}*/
/*ol, ul {*/
/*list-style: none;*/
/*}*/
/*blockquote, q {*/
/*quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
/*content: '';*/
/*content: none;*/
/*}*/
/*table {*/
/*border-spacing:  0;*/
/*border-collapse: collapse;*/
/*}*/
/*!* LAYOUT STYLES *!*/
/*body {*/
/*font-family: 'Helvetica Neue', Helvetica, Arial, serif;*/
/*font-size:   1em;*/
/*line-height: 1.5;*/
/*color:       #6D6D6D;*/
/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);*/
/*background:  #E7E7E7 url(../images/body-bg.png) 0 0 repeat;*/
/*}*/
/*#main_content a {*/
/*color: blue;*/
/*}*/
/*#main_content a:hover {*/
/*color: #6666FF;*/
/*}*/
/*:root {*/
/*!*--theme-color: #AAAAAA;*!*/
/*}*/

.markdown-section :is(h1, h2, h3, h4, h5) { padding: 0px; margin: 1.75rem 0 .75rem 0; }
.markdown-section :-webkit-any(h1, h2, h3, h4, h5) { padding: 0px; margin: 1.75rem 0 .75rem 0; }
.markdown-section :-moz-any(h1, h2, h3, h4, h5) { padding: 0px; margin: 1.75rem 0 .75rem 0; }
.markdown-section :matches(h1, h2, h3, h4, h5) { padding: 0px; margin: 1.75rem 0 .75rem 0; }

.markdown-section :is(FIGURE, P, OL, UL) { margin: .85em 0;}
.markdown-section :-webkit-any(FIGURE, P, OL, UL) { margin: .85em 0;}
.markdown-section :-moz-any(FIGURE, P, OL, UL) { margin: .85em 0;}
.markdown-section :matches(FIGURE, P, OL, UL) { margin: .85em 0;}

article.markdown-section#main {
	margin:  initial;
	padding: 5px 30px;
}

.markdown-section strong { font-weight: 700; }

BODY[data-page="History.md"] .markdown-section > h1:not([id=release-notes]),
BODY[data-page="Updated.md"] .markdown-section > h1:not([id=release-notes]) {
	font-size: 22px;
}
BODY[data-page="History.md"] .markdown-section > h1:not([id=release-notes]) A,
BODY[data-page="Updated.md"] .markdown-section > h1:not([id=release-notes]) A {
	font-weight:     600;
	text-decoration: black underline;
}

/*#container {*/
/*min-height: 595px;*/
/*background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;*/
/*}*/
/*.inner {*/
/*width:  820px;*/
/*margin: 0 auto;*/
/*}*/
/*#container .inner img {*/
/*max-width: 100%;*/
/*}*/
.markdown-section #downloads {
	float:       right;
	padding-top: 15px;
}
.markdown-section #downloads > a {
	display:       block;
	margin-bottom: 15px;
}

.markdown-section a.button {
	display:               inline-block;
	/*float:                 left;*/
	width:                 179px;
	padding:               0px;
	font-size:             15px;
	font-weight:           bold;
	line-height:           25px;
	color: #303030;
	margin: 5px 15px 5px 0px;
	background:            #FDFDFD; /* Old browsers */
	background:            -moz-linear-gradient(top, #FDFDFD 0%, #F2F2F2 100%); /* FF3.6+ */
	background:            -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #F2F2F2)); /* Chrome,Safari4+ */
	background:            -webkit-linear-gradient(top, #FDFDFD 0%, #F2F2F2 100%); /* Chrome10+,Safari5.1+ */
	background:            -o-linear-gradient(top, #FDFDFD 0%, #F2F2F2 100%); /* Opera 11.10+ */
	background:            -ms-linear-gradient(top, #FDFDFD 0%, #F2F2F2 100%); /* IE10+ */
	background:            linear-gradient(top, #FDFDFD 0%, #F2F2F2 100%); /* W3C */
	filter:                progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f2f2f2', GradientType=0); /* IE6-9 */
	border:                1px solid #B7B7B7;
	border-top-color:      #CBCBCB;
	border-bottom-color:   #B3B3B3;
	border-radius:         30px;
	-webkit-box-shadow:    10px 10px 5px #888888;
	-moz-box-shadow:       10px 10px 5px #888888;
	box-shadow:            0px 1px 5px #E8E8E8;
	-moz-border-radius:    30px;
	-webkit-border-radius: 30px;
}
.markdown-section a.button:hover {
	background:    #FAFAFA; /* Old browsers */
	background:    -moz-linear-gradient(top, #FDFDFD 0%, #F6F6F6 100%); /* FF3.6+ */
	background:    -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #F6F6F6)); /* Chrome,Safari4+ */
	background:    -webkit-linear-gradient(top, #FDFDFD 0%, #F6F6F6 100%); /* Chrome10+,Safari5.1+ */
	background:    -o-linear-gradient(top, #FDFDFD 0%, #F6F6F6 100%); /* Opera 11.10+ */
	background:    -ms-linear-gradient(top, #FDFDFD 0%, #F6F6F6 100%); /* IE10+ */
	background:    linear-gradient(top, #FDFDFD 0%, #F6F6F6 100%); /* W3C */
	filter:        progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f6f6f6', GradientType=0); /* IE6-9 */
	border-top:    solid 1px #B7B7B7;
	border-right:  solid 1px #B3B3B3;
	border-bottom: solid 1px #B3B3B3;
	border-left:   solid 1px #B3B3B3;
}
.markdown-section a.button span {
	display:    block;
	height:     23px;
	padding:    12px 8px 12px 50px;
	box-sizing: content-box;
}
#install-firefox span {
	background: transparent url(https://cdnjs.cloudflare.com/ajax/libs/browser-logos/45.3.0/firefox/firefox_32x32.png) 12px 50% no-repeat;
}
#install-firefox-beta span {
	background: transparent url(https://cdnjs.cloudflare.com/ajax/libs/browser-logos/45.3.0/archive/firefox-developer-edition_35-56/firefox-developer-edition_35-56_32x32.png) 12px 50% no-repeat;
}
#install-chrome span {
	background: transparent url(https://cdnjs.cloudflare.com/ajax/libs/browser-logos/45.3.0/chrome/chrome_32x32.png) 12px 50% no-repeat;
}
#download-zip span {
	background: transparent url(../images/zip-icon.png) 12px 50% no-repeat;
}
#download-tar-gz span {
	background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
	background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}
#view-on-github {
	margin-right: 0;
}
/*code, pre {*/
/*margin-bottom: 30px;*/
/*font-family:   Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;*/
/*font-size:     14px;*/
/*color:         #222222;*/
/*}*/
/*code {*/
/*padding:          0 3px;*/
/*background-color: #F2F2F2;*/
/*border:           solid 1px #DDDDDD;*/
/*}*/
/*pre {*/
/*padding:     20px;*/
/*overflow:    auto;*/
/*color:       #F2F2F2;*/
/*text-shadow: none;*/
/*background:  #303030;*/
/*}*/
/*pre code {*/
/*padding:          0;*/
/*color:            #F2F2F2;*/
/*background-color: #303030;*/
/*border:           none;*/
/*}*/
/*ul, ol, dl {*/
/*margin-left:   30px;*/
/*margin-bottom: 20px;*/
/*}*/
/*!* COMMON STYLES *!*/

/*hr {*/
/*height:         1px;*/
/*line-height:    1px;*/
/*background:     transparent url('../images/hr.png') 50% 0 no-repeat;*/
/*border:         none;*/
/*}*/
/*strong {*/
/*font-weight: bold;*/
/*}*/
/*em {*/
/*font-style: italic;*/
/*}*/
/*table {*/
/*width:  100%;*/
/*border: 1px solid #EBEBEB;*/
/*}*/
/*th {*/
/*font-weight: 500;*/
/*}*/
/*td {*/
/*font-weight: 300;*/
/*text-align:  center;*/
/*border:      1px solid #EBEBEB;*/
/*}*/
/*form {*/
/*padding:    20px;*/
/*background: #F2F2F2;*/
/*}*/
/*!* GENERAL ELEMENT TYPE STYLES *!*/

/*h1 {*/
/*font-size: 32px;*/
/*}*/
/*h2 {*/
/*margin-bottom: 8px;*/
/*font-size:     22px;*/
/*font-weight:   bold;*/
/*color:         #303030;*/
/*}*/
/*h3 {*/
/*margin:      20px 0px 2px 0px;*/
/*font-size:   18px;*/
/*font-weight: bold;*/
/*color:       #D5000D;*/
/*}*/
/*h4 {*/
/*margin:      20px 0px 0px 0px;*/
/*font-size:   16px;*/
/*font-weight: bold;*/
/*color:       #303030;*/
/*}*/
/*h5 {*/
/*margin:    20px 0px 3px 0px;*/
/*font-size: 1em;*/
/*color:     #303030;*/
/*}*/
/*h6 {*/
/*margin:    20px 0px 3px 0px;*/
/*font-size: .8em;*/
/*color:     #303030;*/
/*}*/
/*p {*/
/*margin-bottom: 20px;*/
/*font-weight:   300;*/
/*}*/
/*#main_content a {*/
/*text-decoration: underline;*/
/*}*/
/*#main_content p a {*/
/*font-weight: 400;*/
/*}*/
/*blockquote {*/
/*padding:       0 0 0 30px;*/
/*margin-bottom: 20px;*/
/*font-size:     1.6em;*/
/*border-left:   10px solid #E9E9E9;*/
/*}*/
/*ul li {*/
/*list-style: disc inside;*/
/*}*/
/*ol li {*/
/*list-style:   decimal inside;*/
/*padding-left: 3px;*/
/*}*/
/*li.Version {*/
/*margin:      20px 0px 2px 0px;*/
/*font-size:   18px;*/
/*font-weight: bold;*/
/*color: #6D6D6D;*/
/*list-style: none;*/
/*}*/
/*li.Version.Latest {*/
/*color:       #D5000D;*/
/*}*/
/*li.Version > ul {*/
/*font-size: 16px;*/
/*font-weight: normal;*/
/*color: #6D6D6D;*/
/*list-style: disc inside;*/
/*}*/

/*div.ReleaseNotes { margin-left: -30px;  }*/


/*dl dt {*/
/*color: #303030;*/
/*}*/

/*h3 + div > span { padding-right: 10px; }*/

/*h4 + div { margin: 5px 0px; }*/
/*h4 + div + section { font-size: 95%; margin: 10px 25px; }*/

/*footer {*/
/*padding-top:    20px;*/
/*padding-bottom: 30px;*/
/*margin-top:     40px;*/
/*font-size:      13px;*/
/*color:          #AAAAAA;*/
/*background:     transparent url('../images/hr.png') 0 0 no-repeat;*/
/*}*/
/*footer a {*/
/*color: #666666;*/
/*}*/
/*footer a:hover {*/
/*color: #444444;*/
/*}*/
/*!* MISC *!*/
/*.clearfix:after {*/
/*display:    block;*/
/*height:     0;*/
/*clear:      both;*/
/*visibility: hidden;*/
/*content:    '.';*/
/*}*/
/*.clearfix { display: inline-block; }*/
/** html .clearfix { height: 1%; }*/
/*.clearfix { display: block; }*/
/*!* #Media Queries*/
/*================================================== *!*/

/*!* Smaller than standard 960 (devices and browsers) *!*/
/*@media only screen and (max-width: 959px) {*/
/*}*/
/*!* Tablet Portrait size to standard 960 (devices and browsers) *!*/
/*@media only screen and (min-width: 768px) and (max-width: 959px) {*/
/*}*/
/*!* All Mobile Sizes (devices and browser) *!*/
/*@media only screen and (max-width: 767px) {*/
/*header {*/
/*padding-top:    10px;*/
/*padding-bottom: 10px;*/
/*}*/
/*#downloads {*/
/*margin-bottom: 25px;*/
/*}*/
/*#download-zip, #download-tar-gz {*/
/*display: none;*/
/*}*/
/*.inner {*/
/*width:  94%;*/
/*margin: 0 auto;*/
/*}*/
/*}*/
/*!* Mobile Landscape Size to Tablet Portrait (devices and browsers) *!*/
/*@media only screen and (min-width: 480px) and (max-width: 767px) {*/
/*}*/
/*!* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) *!*/
/*@media only screen and (max-width: 479px) {*/
/*}*/
